<div class="bg-white text-dark p-3 mb-5">
    <h4>Twitter Settings</h4>
    <form (ngSubmit)="submitForm()" [formGroup]="settingsForm" *ngIf="settingsForm">
        <div class="form-group form-check">
            <input type="checkbox" formControlName="twitterEnabled" class="form-check-input" id="check1">
            <label class="form-check-label" for="check1">Twitter enabled</label>
        </div>
      <div class="row mt-3">
          <div class="col-lg">
              <div class="mb-3">
                  <label class="align-self-start">Twitter consumer key</label>
                  <div class="input-group input-group-sm">
                      <input class="form-control" formControlName="twitterConsumerKey"
                             placeholder="twitterConsumerKey"
                             type="text"/>
                  </div>
              </div>
              <div class="mb-3">
                  <label class="align-self-start">Twitter consumer secret</label>
                  <div class="input-group input-group-sm">
                      <input class="form-control" formControlName="twitterConsumerSecret"
                             placeholder="twitterConsumerSecret"
                             type="text"/>
                  </div>
              </div>
              <div class="mb-3">
                  <label class="align-self-start">Twitter bearer token</label>
                  <div class="input-group input-group-sm">
                      <input class="form-control" formControlName="twitterBearerToken"
                             placeholder="twitterBearerToken"
                             type="text"/>
                  </div>
              </div>
          </div>
          <div class="col-lg">
              <div class="mb-3">
                  <label class="align-self-start">Twitter access token</label>
                  <div class="input-group input-group-sm">
                      <input class="form-control" formControlName="twitterAccessTokenKey"
                             placeholder="twitterAccessTokenKey"
                             type="text"/>
                  </div>
              </div>
              <div class="mb-3">
                  <label class="align-self-start">Twitter search key</label>
                  <div class="input-group input-group-sm">
                      <input class="form-control" formControlName="twitterSearchKey"
                             placeholder="twitterSearchKey"
                             type="text"/>
                  </div>
              </div>
          </div>
      </div>
        <div class="d-flex justify-content-end mt-3">
            <button [disabled]="isSending || !settingsForm.valid"
                    type="submit"
                    class="btn btn-primary">
                <fa-icon *ngIf="isSending"
                         [spin]="true"
                         icon="spinner"></fa-icon>
                <span *ngIf="!isSending">Save settings</span>
            </button>
        </div>
    </form>
</div>
