<div class="bg-white text-dark p-3 mb-5">
    <h4>Enviroment Settings</h4>
    <form (ngSubmit)="submitForm()" [formGroup]="settingsForm" *ngIf="settingsForm">
        <div class="form-group form-check">
            <input type="checkbox" formControlName="envEnabled" class="form-check-input" id="check1">
            <label class="form-check-label" for="check1">Enviroment({{settings.configName}}) enabled</label>
        </div>
        <div class="row mt-3">
            <div class="col-lg">
                <div class="mb-3">
                    <label class="align-self-start">title</label>
                    <div class="input-group input-group-sm">
                        <input class="form-control" formControlName="title"
                               placeholder="title"
                               type="text"/>
                    </div>
                </div>
                <div class="mb-3">
                    <label class="align-self-start">appName</label>
                    <div class="input-group input-group-sm">
                        <input class="form-control" formControlName="appName"
                               placeholder="appName"
                               type="text"/>
                    </div>
                </div>
                <div class="mb-3">
                    <label class="align-self-start">version</label>
                    <div class="input-group input-group-sm">
                        <input class="form-control" formControlName="version"
                               placeholder="version"
                               type="text"/>
                    </div>
                </div>
                <div class="mb-3">
                    <label class="align-self-start">sentryDSN</label>
                    <div class="input-group input-group-sm">
                        <input class="form-control" formControlName="sentryDSN"
                               placeholder="sentryDSN"
                               type="text"/>
                    </div>
                </div>
                <div class="mb-3">
                    <label class="align-self-start">leaderboardAmount</label>
                    <div class="input-group input-group-sm">
                        <input class="form-control" formControlName="leaderboardAmount"
                               placeholder="leaderboardAmount"
                               type="number"/>
                    </div>
                </div>
                <div class="mb-3">
                    <label class="align-self-start">leaderboardAlgorithm</label>
                    <div class="input-group input-group-sm">

                        <select class="form-control custom-select" formControlName="leaderboardAlgorithm">
                            <option *ngFor="let algo of leaderBoardAlgorithms" [value]="algo" [selected]="algo == settings.leaderboardAlgorithm">{{algo}}</option>
                          </select>
                    </div>
                </div>
                <div class="mb-3">
                    <label class="align-self-start">defaultTheme</label>
                    <div class="input-group input-group-sm">
                        <input class="form-control" formControlName="defaultTheme"
                               placeholder="defaultTheme"
                               type="text"/>
                    </div>
                </div>
                <div class="mb-3">
                    <label class="align-self-start">vapidPublicKey</label>
                    <div class="input-group input-group-sm">
                        <input class="form-control" formControlName="vapidPublicKey"
                               placeholder="vapidPublicKey"
                               type="text"/>
                    </div>
                </div>
                <div class="mb-3">
                    <label class="align-self-start">markdownFilePostfix</label>
                    <div class="input-group input-group-sm">
                        <input class="form-control" formControlName="markdownFilePostfix"
                               placeholder="markdownFilePostfix"
                               type="text"/>
                    </div>
                </div>
                <div class="mb-3">
                    <label class="align-self-start">loginButtonLabelConfiguration</label>
                    <div class="input-group input-group-sm">
                        <input class="form-control" formControlName="loginButtonLabelConfiguration"
                               placeholder="loginButtonLabelConfiguration"
                               type="text"/>
                    </div>
                </div>
            </div>

            <div class="col-lg">
                <div class="mb-3">

                    <div class="custom-control custom-switch input-group-sm" >
                        <input type="checkbox" class="custom-control-input" formControlName="enableBonusToken" id="enableBonusToken"
                        
                        [checked]="settings.config.enableBonusToken"
                        
                        >
                        <label class="custom-control-label" for="enableBonusToken">enableBonusToken</label>
                    </div>
                </div>
                <div class="mb-3">
                    
                    <div class="custom-control custom-switch input-group-sm" >
                        <input type="checkbox" class="custom-control-input" formControlName="readingConfirmationEnabled" id="readingConfirmationEnabled"
                        
                        [checked]="settings.config.readingConfirmationEnabled"
                        
                        >
                        <label class="custom-control-label" for="readingConfirmationEnabled">readingConfirmationEnabled</label>
                    </div>
                </div>
                <div class="mb-3">
                    
                    <div class="custom-control custom-switch input-group-sm" >
                        <input type="checkbox" class="custom-control-input" formControlName="confidenceSliderEnabled" id="confidenceSliderEnabled"
                        
                        [checked]="settings.config.confidenceSliderEnabled"
                        
                        >
                        <label class="custom-control-label" for="confidenceSliderEnabled">confidenceSliderEnabled</label>
                    </div>
                </div>
                <div class="mb-3">
                    
                    <div class="custom-control custom-switch input-group-sm" >
                        <input type="checkbox" class="custom-control-input" formControlName="infoAboutTabEnabled" id="infoAboutTabEnabled"
                        
                        [checked]="settings.config.infoAboutTabEnabled"
                        
                        >
                        <label class="custom-control-label" for="infoAboutTabEnabled">infoAboutTabEnabled</label>
                    </div>
                </div>
                <div class="mb-3">
                    
                    <div class="custom-control custom-switch input-group-sm" >
                        <input type="checkbox" class="custom-control-input" formControlName="infoProjectTabEnabled" id="infoProjectTabEnabled"
                        
                        [checked]="settings.config.infoProjectTabEnabled"
                        
                        >
                        <label class="custom-control-label" for="infoProjectTabEnabled">infoProjectTabEnabled</label>
                    </div>
                </div>
                <div class="mb-3">
                    
                    <div class="custom-control custom-switch input-group-sm" >
                        <input type="checkbox" class="custom-control-input" formControlName="infoBackendApiEnabled" id="infoBackendApiEnabled"
                        
                        [checked]="settings.config.infoBackendApiEnabled"
                        
                        >
                        <label class="custom-control-label" for="infoBackendApiEnabled">infoBackendApiEnabled</label>
                    </div>
                </div>
                <div class="mb-3">
                    
                    <div class="custom-control custom-switch input-group-sm" >
                        <input type="checkbox" class="custom-control-input" formControlName="requireLoginToCreateQuiz" id="requireLoginToCreateQuiz"
                        
                        [checked]="settings.config.requireLoginToCreateQuiz"
                        
                        >
                        <label class="custom-control-label" for="requireLoginToCreateQuiz">requireLoginToCreateQuiz</label>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="custom-control custom-switch input-group-sm" >
                        <input type="checkbox" class="custom-control-input" formControlName="forceQuizTheme" id="forceQuizTheme"
                        
                        [checked]="settings.config.forceQuizTheme">
                        <label class="custom-control-label" for="forceQuizTheme">forceQuizTheme</label>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="form-group">
                        <label>loginMechanisms (multi select)</label>
                        <select multiple class="form-control" formControlName="loginMechanism">
                            <option [selected]="settingsForm.get('loginMechanism').value === loginMechanism.id" *ngFor="let loginMechanism of loginMechanisms" [value]="loginMechanism.id">{{loginMechanism.name}}</option>
                        </select>
                    </div>
                </div>

                 <div class="mb-3">
                    <div class="custom-control custom-switch input-group-sm" >
                        <input type="checkbox" class="custom-control-input" formControlName="showLoginButton" id="showLoginButton"
                        
                        [checked]="settings.config.showLoginButton"
                        
                        >
                        <label class="custom-control-label" for="showLoginButton">showLoginButton</label>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="custom-control custom-switch input-group-sm" >
                        <input type="checkbox" class="custom-control-input" formControlName="showJoinableQuizzes" id="showJoinableQuizzes"
                        
                        [checked]="settings.config.showJoinableQuizzes"
                        
                        >
                        <label class="custom-control-label" for="showJoinableQuizzes">showJoinableQuizzes</label>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="custom-control custom-switch input-group-sm" >
                        <input type="checkbox" class="custom-control-input" formControlName="showPublicQuizzes" id="showPublicQuizzes"
                        
                        [checked]="settings.config.showPublicQuizzes"
                        
                        >
                        <label class="custom-control-label" for="showPublicQuizzes">showPublicQuizzes</label>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="custom-control custom-switch input-group-sm" >
                        <input type="checkbox" class="custom-control-input" formControlName="persistQuizzes" id="persistQuizzes"
                        
                        [checked]="settings.config.persistQuizzes"
                        
                        >
                        <label class="custom-control-label" for="persistQuizzes">persistQuizzes</label>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="form-group">
                        <label>availableQuizThemes (multi select)</label>
                        <select multiple class="form-control" formControlName="availableQuizThemes">
                            <option *ngFor="let theme of selectableThemes"  [selected]="settingsForm.get('availableQuizThemes').value === theme" [value]="theme">{{theme}}</option>
                        </select>
                    </div>
                </div>

                <div class="mb-3">
                    <div class="custom-control custom-switch input-group-sm" >
                        <input type="checkbox" class="custom-control-input" formControlName="darkModeCheckEnabled" id="darkModeCheckEnabled"
                        
                        [checked]="settings.config.darkModeCheckEnabled"
                        
                        >
                        <label class="custom-control-label" for="darkModeCheckEnabled">darkModeCheckEnabled</label>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="custom-control custom-switch input-group-sm" >
                        <input type="checkbox" class="custom-control-input" formControlName="enableTwitter" id="enableTwitter"
                        
                        [checked]="settings.config.enableTwitter"
                        
                        >
                        <label class="custom-control-label" for="enableTwitter">enableTwitter</label>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="custom-control custom-switch input-group-sm" >
                        <input type="checkbox" class="custom-control-input" formControlName="enableQuizPool" id="enableQuizPool"
                        
                        [checked]="settings.config.enableQuizPool"
                        
                        >
                        <label class="custom-control-label" for="enableQuizPool">enableQuizPool</label>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="custom-control custom-switch input-group-sm" >
                        <input type="checkbox" class="custom-control-input" formControlName="showInfoButtonsInFooter" id="showInfoButtonsInFooter"
                        
                        [checked]="settings.config.showInfoButtonsInFooter"
                        
                        >
                        <label class="custom-control-label" for="showInfoButtonsInFooter">showInfoButtonsInFooter</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-end mt-3">
            <button [disabled]="isSending || !settingsForm.valid"
                    type="submit"
                    class="btn btn-primary">
                <fa-icon *ngIf="isSending"
                         [spin]="true"
                         icon="spinner"></fa-icon>
                <span *ngIf="!isSending">Save settings</span>
            </button>
        </div>
    </form>
</div>
